.container-fluid{
    height:80%;
    overflow: hidden;
}
.panel-body{
    height: 80%;
}
.list-group-item{
    background-color: #5d9192;
    color: white!important;
}
.list-group-item:hover{
    background-color: #8c9091!important;
}
#buttonRow{
    margin-top: 15%;
}