html,body{
    height: 100%;
    background-color: #5f9ea0!important;
}
.active{
    background-color: black;
}
.active > a{
    color: #18bc9c !important;
}
.navbar{
    border-radius: 0px;
}
.navbar-nav{
    font-size: large;
}
.navbar-header{
    font-size: larger;
}
.nav > li{
    border-left: 2px inset gray;
    text-align: center;
}
li:last-child{
    border-right: 2px inset #363434;
}
.panel-heading{
    font-size: larger;
}
.contentPanel{
    height: 400px;
}
#contentRow{
    height: 100%;
}
#contentRow > div{
    height:90%;
}
#newButton{
    color:white;
    font-size: 30px;
    margin-top: 90%;
}
#listBody{
    padding: 30px;
}

