.container-fluid{

    overflow: hidden;
}
#displayContent > div{
    /*height: 110px;*/
    border-left: 1px solid gray;
    text-align: center;
}
#displayContent > div:first-child{
    border-left: none;
}
#displayTitle{
    text-align: center;
    margin-top: -10px;
}
#editButton{
    width:90px;
    margin-top: 10px;
}