html,body{
    height: 100%;
    background-color: #5f9ea0!important;
}
.row{
    height: 100%;
}
.container-fluid{
    min-height: 100%;
    overflow: hidden;
}
.jumbotron{
    text-align: center;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
#loginLinks{
    margin-top: 20px;
}
#header{
    padding-top: 12px;
    padding-bottom: 12px;
}
.sidePanel{
    background-color: transparent;
}
#mainCol{
    margin-top: 25px;
}
