<div class="container-fluid">
    <div ng-app="loginApp" class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidePanel">
            </div>
            <div class=" col-md-6">
                <div id="mainCol" class="panel panel-default">
                    <div class="panel-body">
                        <div id="header" class="jumbotron">
                            <h2>Add a new Party to the system</h2>
                        </div>
                        <form name="loginForm" ng-controller="loginCtrl" class="loginForm collapse in">
                            <div class="form-group">
                                <label for="UserName">Party Name:</label>
                                <input ng-model="UserName" type="text" class="form-control" id="UserName" required>
                            </div>
                            <div class="form-actions">
                                <button ng-click="submit()" ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        <div id="loginLinks" class="form-actions">
                            <a class="loginForm collapse" data-toggle="collapse" href=".loginForm">Return to login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidePanel">
            </div>
        </div>
    </div>
</div>