<div class="container-fluid">
    <div ng-app="loginApp" class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidePanel">
            </div>
            <div class=" col-md-6">
                <div id="mainCol" class="panel panel-default">
                    <div class="panel-body">
                        <div id="header" class="jumbotron">
                            <h2>Modify Candidate in the system</h2>
                        </div>
                        <form name="loginForm" ng-controller="loginCtrl" class="loginForm collapse in">
                            <div class="form-group">
                                <label for="UserName">Candidate Name:</label>
                                <input ng-model="UserName" type="text" value="Candidate 1" class="form-control" id="UserName" required>
                            </div>
                            <div class="form-group">
                                <label for="VoteCount">Vote Count:</label>
                                <input ng-model="UserName" type="text" value="256" class="form-control" id="VoteCount" required>
                            </div>
                            <div class="form-group">
                                <label for="Party">Party:</label>
                                <input ng-model="UserName" type="text" value="Libertarian" class="form-control" id="Party" required>
                            </div>
                            <div class="form-group">
                                <label for="Election">Election:</label>
                                <input ng-model="UserName" type="text" value="Office 1" class="form-control" id="Election" required>
                            </div>
                            <div id="buttonRow" class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <button onclick="window.location.href='#/modifycandidate'" class="btn btn-primary infoButton">Save</button>
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-danger infoButton">Delete Candidate</button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </form>
                        <div id="loginLinks" class="form-actions">
                            <a class="loginForm collapse" data-toggle="collapse" href=".loginForm">Return to login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidePanel">
            </div>
        </div>
    </div>
</div>