
<div class="container-fluid">
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Issues List
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Issue 1</a>
                        <a href="#" class="list-group-item">Issue 2</a>
                        <a href="#" class="list-group-item">Issue 3</a>
                        <a href="#" class="list-group-item">Issue 4</a>
                        <a href="#" class="list-group-item">Issue 5</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newButton">
                <span class="glyphicon glyphicon-plus"></span>
                <button class="btn btn-default">New Issue</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Issue View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Issue:</p>
                            <p>Description:</p>
                            <br/>
                            <p>Votes for</p>
                            <p>Votes against</p>
                            <p>Votes cast:</p>
                            <p>Districts voting:</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <p>Issue 1</p>
                            <p>
                                Lorem ipsum dolor sit amet
                            </p>
                            <br/>
                            <p>11,000</p>
                            <p>9,000</p>
                            <p>20,000</p>
                            <p>district1, district2, district3,</p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <button class="btn btn-primary infoButton">Modify</button>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-danger infoButton">Delete</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
