<!-- ng-app="officerDistrictApp" -->
<!--<link rel="stylesheet" href="css/bootstrap.css">-->
<!--<link rel="stylesheet" href="css/officer.css">-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>-->
<!--<script src="js/officerIndex.js"></script>-->
<!--<script src="js/controllers/officerHome.js"></script>-->
<!--<script src="js/controllers/officerDistricts.js"></script>-->
<!--<script src="js/controllers/officerElections.js"></script>-->
<!--<script src="js/controllers/officerIssues.js"></script>-->

<div class="container-fluid">
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    District List
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">District 1</a>
                        <a href="#" class="list-group-item">District 2</a>
                        <a href="#" class="list-group-item">District 3</a>
                        <a href="#" class="list-group-item">District 4</a>
                        <a href="#" class="list-group-item">District 5</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newDistrictFormLink" class="form-actions" ng-controller="tokenGetter">
                <span class="glyphicon glyphicon-plus"></span>
                <!--<a class="btn btn-default" data-toggle="collapse" href=".newDistrictForm">New District</a>-->
                 <a href="http://localhost:9001/newDistrict.html?token=" class="btn btn-default">New District</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    District View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Name:</p>
                            <p>Population:</p>
                            <p>Registered voters:</p>
                            <p>Votes cast:</p>
                            <p>Ballot:</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <p>District 1</p>
                            <p>20,000</p>
                            <p>11,000</p>
                            <p>9,000</p>
                            <button class="btn btn-default">Show Ballot</button>
                        </div>
                    </div>
                    <div id="buttonRow" class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <button class="btn btn-primary infoButton">Modify</button>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-danger infoButton">Delete</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- New Stuff -->
    <!--<form name="newDistrictForm" ng-controller="districtsCtrl" class="newDistrictForm collapse">-->
            <!--<div class="form-group">-->
                <!--<label for="districtName">District Name:</label>-->
                <!--<input ng-model="districtName" type="text" class="form-control" id="districtName" required>-->
            <!--</div>-->
            <!--<div class="form-actions">-->
                <!--<button ng-disabled="districtForm.$invalid" ng-click="submit()" type="submit" class="btn btn-primary">Submit</button>-->
            <!--</div>-->
        <!--</form>-->

</div>