<div class="container-fluid" >
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Parties List
                </div>
                <div class="panel-body">
                    <div id="partyList" class="list-group">
                        <a ng-repeat="party in partyList" ng-click="selectParty(party)" class="list-group-item active">{{party.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newButton" ng-click="normalView = 2">
                <span class="glyphicon glyphicon-plus"></span>
                <button class="btn btn-default">New Party</button>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-if="normalView == 1"  class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Party View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Name:</p>
                            <p>Candidates:</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <p>{{selectedParty.name}}</p>
                            <p ng-repeat="candidate in selectedCandidates">{{candidate.name}}</p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row" ng-if="selectedParty">
                        <div class="col-md-2"></div>
                        <div ng-click="normal3()"  class="col-md-5">
                            <button class="btn btn-danger infoButton">Modify</button>
                        </div>
                        <div ng-click="deleteParty()" class="col-md-5">
                            <button class="btn btn-primary infoButton">Delete</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 2" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    New Party
                </div>
                <div id="createBody" class="panel-body">
                    <div class="row">
                        <form name="createForm">
                            <div class="form-group">
                                <label for="newName">Party Name:</label>
                                <input ng-model="formData.newName" type="text" class="form-control" id="newName" required>
                            </div>
                            <div class="form-actions">
                                <button ng-disabled="createForm.$invalid" ng-click="createNewParty()" type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 3" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Modify Party
                </div>
                <div id="modifyBody" class="panel-body">
                    <div class="row">
                        <form name="modifyForm">
                            <div class="form-group">
                                <label for="modName">Party Name:</label>
                                <input value="{{selectedParty.name}}" ng-model="selectedParty.name" type="text" class="form-control" id="modName" required>
                            </div>
                            <div class="form-actions">
                                <button ng-click="modParty()" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
