
<div class="container-fluid">
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Issues List
                </div>
                <div class="panel-body">
                    <div id="issueList" class="list-group">
                        <a ng-repeat="issue in issueList" ng-click="selectIssue(issue)" class="list-group-item">{{issue.question}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newButton" ng-click="normalView = 2">
                <span class="glyphicon glyphicon-plus"></span>
                <button class="btn btn-default">New Issue</button>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-if="normalView == 1" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Issue View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Question:</p>
                            <p>Votes for</p>
                            <p>Votes against</p>
                            <p>Districts voting:</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <p>{{selectedIssue.question}}</p>
                            <p>{{selectedIssue.yesCount}}</p>
                            <p>{{selectedIssue.noCount}}</p>
                            <p ng-repeat="district in selectedDistricts">{{district.name}}</p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row" ng-if="selectedIssue">
                        <div class="col-md-2"></div>
                        <div ng-click="normal3()" class="col-md-5">
                            <button class="btn btn-primary infoButton">Modify</button>
                        </div>
                        <div ng-click="deleteIssue()" class="col-md-5">
                            <button class="btn btn-danger infoButton">Delete</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 2" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    New Issue
                </div>
                <div id="createBody" class="panel-body">
                    <div class="row">
                        <form name="createForm">
                            <div class="form-group">
                                <label for="newQuestion">Question:</label>
                                <input ng-model="formData.newQuestion" type="text" class="form-control" id="newQuestion" required>
                            </div>
                            <p>Districts</p>
                            <div class="form-group">
                                <div ng-repeat="district in districtList">
                                    <label>
                                        {{district.name}}:
                                        <input type="checkbox" ng-model="district.selected">
                                    </label>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button ng-disabled="createForm.$invalid" ng-click="createNewIssue()" type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 3" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Modify Issue
                </div>
                <div id="modifyBody" class="panel-body">
                    <div class="row">
                        <form name="modifyForm">
                            <div class="form-group">
                                <label for="modQuestion">Question:</label>
                                <input value="{{selectedIssue.question}}" ng-model="selectedIssue.question" type="text" class="form-control" id="modQuestion" required>
                            </div>
                            <div class="form-group">
                                <div ng-repeat="district in districtList">
                                    <label>
                                        {{district.name}}:
                                        <input type="checkbox" ng-model="district.selected">
                                    </label>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button ng-click="modIssue()" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
