<div class="container-fluid">
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    District List
                </div>
                <div class="panel-body">
                    <div id="districtList" class="list-group">
                        <a ng-repeat="district in districtList" ng-click="selectDistrict(district)" class="list-group-item">{{district.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newButton" ng-click="normalView = 2">
                <span class="glyphicon glyphicon-plus"></span>
                <button class="btn btn-default">New District</button>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-if="normalView == 1" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    District View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Name:</p>
                            <p>Registered voters:</p>
                            <p>Ballot Items:</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <p>{{selectedDistrict.name}}</p>
                            <p>{{registeredVoters}}</p>
                            <p ng-repeat="ballotItem in districtBallotItems">
                                <span ng-if="ballotItem.office">{{ballotItem.office}}</span>
                                <span ng-if="!ballotItem.office">{{ballotItem.question}}</span>
                            </p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row" ng-if="selectedDistrict">
                        <div class="col-md-2"></div>
                        <div ng-click="normal3()" class="col-md-5">
                            <button class="btn btn-primary infoButton">Modify</button>
                        </div>
                        <div ng-click="deleteDistrict()" class="col-md-5">
                            <button class="btn btn-danger infoButton">Delete</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 2" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    New District
                </div>
                <div id="createBody" class="panel-body">
                    <div class="row">
                        <form name="createForm">
                            <div class="form-group">
                                <label for="newName">DistrictName:</label>
                                <input ng-model="formData.newName" type="text" class="form-control" id="newName" required>
                            </div>
                            <div class="form-actions">
                                <button ng-click="createNewDistrict()" type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 3" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Modify District
                </div>
                <div id="modifyBody" class="panel-body">
                    <div class="row">
                        <form name="modifyForm">
                            <div class="form-group">
                                <label for="modName">DistrictName:</label>
                                <input value="{{selectedDistrict.name}}" ng-model="selectedDistrict.name" type="text" class="form-control" id="modName" required>
                            </div>
                            <div class="form-actions">
                                <button ng-click="modDistrict()" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>