<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Parties List
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Republican</a>
                        <a href="#" class="list-group-item">Democrat</a>
                        <a href="#" class="list-group-item">Libertarian</a>
                        <a href="#" class="list-group-item">Independent</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newButton">
                <span class="glyphicon glyphicon-plus"></span>
                <button onclick="window.location.href='#/createparty'" class="btn btn-default">New Party</button>
            </div>
        </div>
        <div class="col-md-4">
            <div  class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Party View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Republican</p>
                            <p><br></p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <button onclick="window.location.href='#/modifyparty'" class="btn btn-primary infoButton">Modify</button>
                        </div>
                        <div class="col-md-5">
                            <button onclick="window.location.href='#/addcandidates'" class="btn btn-primary infoButton">Add Candidates</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
