<div class="container-fluid">
    <div id="contentRow" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Candidate List
                </div>
                <div class="panel-body">
                    <div id="candidateList" class="list-group">
                        <a ng-repeat="candidate in candidateList" ng-click="selectCandidate(candidate)" class="list-group-item">{{candidate.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div id="newButton" ng-click="normalView = 2">
                <span class="glyphicon glyphicon-plus"></span>
                <button class="btn btn-default">New Candidate</button>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-if="normalView == 1" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Candidate View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Name:<br/></p>
                            <p>Vote Count<br/><p>
                            <p>Party:<br/></p>
                            <p>Election:</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <p>{{selectedCandidate.name}}<br/></p>
                            <p>{{selectedCandidate.voteCount}}<br/></p>
                            <p>{{selectedParty.name}}</p>
                            <p>{{selectedElection.office}}</p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row" ng-if="selectedCandidate">
                        <div class="col-md-2"></div>
                        <div ng-click="normal3()" class="col-md-5">
                            <button class="btn btn-primary infoButton">Modify</button>
                        </div>
                        <div ng-click="deleteCandidate()" class="col-md-5">
                            <button class="btn btn-danger infoButton">Delete</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 2" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    New Candidate
                </div>
                <div id="createBody" class="panel-body">
                    <div class="row">
                        <form name="createForm">
                            <div class="form-group">
                                <label for="newName">Candidate Name:</label>
                                <input ng-model="formData.newName" type="text" class="form-control" id="newName" required>
                            </div>
                            <div class="form-group">
                                <label for="newParty">Candidate Party</label>
                                <select id="newParty" ng-model="selectedParty" ng-options="party.name for party in parties">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="newElection">Candidate Election</label>
                                <select id="newElection" ng-model="selectedElection" ng-options="election.office for election in elections">
                                </select>
                            </div>
                            <div class="form-actions">
                                <button ng-click="createNewCandidate()" type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-if="normalView == 3" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Modify Candidate
                </div>
                <div id="modifyBody" class="panel-body">
                    <div class="row">
                        <form name="modifyForm">
                            <div class="form-group">
                                <label for="modName">CandidateName:</label>
                                <input value="{{selectedCandidate.name}}" ng-model="selectedCandidate.name" type="text" class="form-control" id="modName" required>
                            </div>
                            <div class="form-group">
                                <label for="modParty">Candidate Party</label>
                                <select id="modParty" ng-model="selectedParty" ng-options="party.name for party in parties">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modElection">Candidate Election</label>
                                <select id="modElection" ng-model="selectedElection" ng-options="election.office for election in elections">
                                </select>
                            </div>
                            <div class="form-actions">
                                <button ng-click="modCandidate()" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>