<link rel="stylesheet" href="css/officer.css">

<div class="container-fluid">
    <div ng-app="loginApp" class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidePanel">
            </div>
            <div class=" col-md-6">
            <div class="panel-body">
                <div id="header" class="jumbotron">
                    <h2>Election Results</h2>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Ballot item 1</a>
                        <a href="#" class="list-group-item">Ballot item 2</a>
                        <a href="#" class="list-group-item">Ballot item 3</a>
                        <a href="#" class="list-group-item">Ballot item 4</a>
                        <a href="#" class="list-group-item">Ballot item 5</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-3 sidePanel">
            </div>
        </div>
    </div>
</div>