<link rel="stylesheet" href="css/officer.css">

<div class="container-fluid">
    <div ng-app="loginApp" class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidePanel">
            </div>
            <div class=" col-md-6">
            <div class="panel-body">
                <div id="header" class="jumbotron">
                    <h2>Ballot Results</h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <p>Election/Issue</p>

                        <p ng-repeat="ballotItem in districtBallotItems">
                            <span ng-if="ballotItem.office">{{ballotItem.office}}</span>
                            <span ng-if="!ballotItem.office">{{ballotItem.question}}</span>
                        </p>

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <p>Results</p>

                        <!--Experimental-->
                        <p ng-repeat="ballotItem in districtBallotItems" ng-init="getCandidates(ballotItem)">
                            <label  ng-if="ballotItem.office" >{{candidates[0].name}} Vote Count: {{candidates[0].voteCount}}   |</label><label ng-if="ballotItem.office" >{{candidates[1].name}}  Vote Count: {{candidates[1].voteCount}}   |</label><label ng-if="ballotItem.office" >Total Vote Count: {{ballotItem.voteCount}}   </label>
                            <label  ng-if="!ballotItem.office">Yes Count: {{ballotItem.yesCount}}       |</label><label ng-if="!ballotItem.office">No Count: {{ballotItem.noCount}}     |</label><label ng-if="!ballotItem.office">Vote Count: {{ballotItem.voteCount}}</label>
                        </p>
                    </div>

                </div>
            </div>
            </div>
            <div class="col-md-3 sidePanel">
            </div>
        </div>
    </div>
</div>