<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">

            <!--Add an ng-if to check normalView-->
            <div ng-if="normalView == 1" class="panel panel-default">
                <div id="profileHeader" class="panel-heading">
                    Profile
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>First Name:</p>
                            <p>Last Name:</p>
                            <p>User Name:</p>
                            <p>Password:</p>
                            <p>Email:</p>
                            <p>Address:</p>
                            <p>City:</p>
                            <p>State:</p>
                            <p>Zip:</p>
                        </div>
                        <div class="col-md-4">
                            <p>{{User.firstName}}</p>
                            <p>{{User.lastName}}</p>
                            <p>{{User.userName}}</p>
                            <p>**Protected**</p>
                            <p>{{User.emailAddress}}</p>
                            <p>{{User.address}}</p>
                            <p>{{User.city}}</p>
                            <p>{{User.state}}</p>
                            <p>{{User.zip}}</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <!--If the button is clicked the view changes to mode 2-->
                            <button ng-click="normal2()" id="editButton" class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-md-3"></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <!--End of normal view-->

            <!--Create a view with a form in it to edit the users information-->
            <div ng-if="normalView == 2" class="panel panel-default">
                <div class="panel-heading">
                    Edit Profile
                </div>
                <div id="modifyBody" class="panel-body">
                    <div class="row">
                        <form name="modifyForm">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input value="{{User.firstName}}" ng-model="User.firstName" type="text" class="form-control" id="firstName" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input value="{{User.lastName}}" ng-model="User.lastName" type="text" class="form-control" id="lastName" required>
                            </div>
                            <div class="form-group">
                                <label for="userName">User Name:</label>
                                <input value="{{User.userName}}" ng-model="User.userName" type="text" class="form-control" id="userName" required>
                            </div>
                            <div class="form-group">
                                <label for="userPassword">Password:</label>
                                <input value="{{User.userPassword}}" ng-model="User.userPassword" type="text" class="form-control" id="userPassword" required>
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email Address:</label>
                                <input value="{{User.emailAddress}}" ng-model="User.emailAddress" type="text" class="form-control" id="emailAddress" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input value="{{User.address}}" ng-model="User.address" type="text" class="form-control" id="address" required>
                            </div>
                            <div class="form-group">
                                <label for="city">City:</label>
                                <input value="{{User.city}}" ng-model="User.city" type="text" class="form-control" id="city" required>
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <input value="{{User.state}}" ng-model="User.state" type="text" class="form-control" id="state" required>
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip:</label>
                                <input value="{{User.zip}}" ng-model="User.zip" type="text" class="form-control" id="zip" required>
                            </div>
                            <div class="form-actions">
                                <button ng-click="editProfile()" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End of normal view 2-->

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div ng-if="ballotView == 1" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Ballot View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Election/Issue</p>

                            <p ng-repeat="ballotItem in districtBallotItems">
                                <span ng-if="ballotItem.office">{{ballotItem.office}}</span>
                                <span ng-if="!ballotItem.office">{{ballotItem.question}}</span>
                            </p>

                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <p>Make a choice</p>

                            <!--Experimental-->
                            <p ng-repeat="ballotItem in districtBallotItems" ng-init="getCandidates(ballotItem)">
                                <button ng-click="chooseCandidate(candidate1, ballotItem)" class="btn {{buttonStyle}}" ng-if="ballotItem.office" >{{candidate1.name}}</button><button ng-click="chooseCandidate(candidate2, ballotItem)" class="btn {{buttonStyle}}" ng-if="ballotItem.office" >{{candidate2.name}}</button>
                                <button ng-click="chooseFor(ballotItem)" class="btn {{buttonStyle}}" ng-if="!ballotItem.office">Vote For</button><button ng-click="chooseAgainst(ballotItem)" class="btn {{buttonStyle}}" ng-if="!ballotItem.office">Vote Against</button>
                            </p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-danger infoButton" ng-click="submitBallot()" >Submit Ballot</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>

            <div ng-if="ballotView == 2" class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Ballot View
                </div>
                <div id="noBallot" class="panel-body">
                    <p>There are currently no Ballots for you to vote on.</p>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>

