<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div id="profileHeader" class="panel-heading">
                    Profile
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <p>Name:</p>
                            <p>Email:</p>
                            <p>Age:</p>
                            <p>Address:</p>
                        </div>
                        <div class="col-md-4">
                            <p>John Smith</p>
                            <p>voter@gmail.com</p>
                            <p>22</p>
                            <p>123 Lane Rd</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <button id="editButton" class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-md-3"></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div  class="panel panel-default contentPanel">
                <div class="panel-heading">
                    Ballot View
                </div>
                <div id="listBody" class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Office:</p>
                            <p>Cantidate1:</p>
                            <p>Cantidate2:</p>
                            <p>Issue1</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <p>Office1</p>
                            <p> <button class="btn btn-default voteBtn">Vote For</button> </p>
                            <p> <button class="btn btn-default voteBtn">Vote For</button> </p>
                            <p><button class="btn btn-default voteBtn">Vote For</button><button class="btn btn-default voteBtn">Vote Against</button></p>
                        </div>
                    </div>
                    <div id="buttonRow" class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-danger infoButton">Submit Ballot</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

